#app {
  max-width: 60vw;
}

.maright {
  margin-right: 5vw;
}

.slider_bg_box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  overflow: hidden;
  background-image: url('./jardin.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
}

.zz {
  z-index: 9999;
}